
body{
background: #4e4376;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c3c52, #1c3c52);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c3c52, #1c3c52);
    
/* background: #4e4376; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #1c3c52, #4e4376); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1c3c52, #4e4376); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.card{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    /* border-radius: 5%; */
}

.game-img{
width: 200px;
height: 200px;
border-radius: 30%;
background: linear-gradient(to right, #332c4d, #332c4d);
}